[Desktop Entry]
Type=Application
Exec=update-monitor-position 3
Hidden=true
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=update-monitor-position
Name=update-monitor-position
